<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SavoryMaster_DST60530" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=SavoryMaster;User ID=HarrisDebug;Password=32BA91F830BB4EFDB91151FA3DE84B6C" />
    <add name="SavoryMaster_BLUEWIND" connectionString="Data Source=BLUEWIND\BLUESERVER;Initial Catalog=SavoryMaster2;Integrated Security=True" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>